body {
    font-family: Arial, sans-serif;
    background: #a3a1a1;
    margin: 0;
    padding: 20px;
    display: flex;
   
}
.caja {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
}
button {
    padding: 8px 12px;
    cursor: pointer;
}
li {
    padding: 10px;
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
   
}
li button {
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
}

